body {
  margin: 0;
}

.homepage-container {
  background-image: url('https://i.imgur.com/ngpB6O0.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.portfolio-container {
  background-color: white;
  color: black;
  width: 70vw;
  margin: auto;
}

.portfolio-header {
  background-color: #957DC3;
  height: 60px;
  color: white;
  border-radius: 5px;
}
